.btn {
  color: #fff;
  padding: 14px 15px;
  border-radius: 4px;
  background: #000;
  font-weight: 300;
}

button {
  background-color: transparent;
  border: 0;
}

.underlinedText {
  text-decoration: underline;
  font-weight: 500;
}

.paragraph {
  margin: 1rem 0;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.61);
}

// ------------------------------- Mobile Menu
