// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .mobile__screen {
    display: none;
  }
  .security {
    .security_left {
      padding: 2rem 0 0 2rem;
    }
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .security {
    .security_left {
      padding: 3rem 0 0 3rem;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  header {
    // menu,
    .button__group {
      display: none;
    }
    .hamburger {
      display: block;
    }
  }
  .security {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  menu {
    position: fixed;
    left: -100%;
    transform: translateX(-50%);
    top: 8rem;
    background: #f0eeeb;
    padding: 2rem 0;
    border-radius: 5px;
    width: 100%;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    li + li {
      margin-top: 1.2rem;
    }
  }
  .active {
    left: 50%;
  }
}
@media (min-width: 768px) {
  menu {
    ul {
      display: flex;
      li + li {
        margin-left: 1rem;
      }
    }
  }
  .container {
    max-width: 720px;
  }
  :root {
    --text-multiplier: 1.5;
  }
  h1 {
    line-height: 50px;
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  .hero {
    flex-direction: column-reverse;
    .hero__right {
      justify-content: center;
      img {
        height: auto;
        width: 100%;
      }
      margin-bottom: 2rem;
    }
  }
  .medium__screen {
    display: none;
  }
  .security__wrapper {
    flex-direction: column;
    .security_right {
      justify-content: center;
      padding-right: 0;
    }
  }
  .editor__wrapper {
    flex-direction: column-reverse;
  }
  .footer__wrapper {
    gap: 1rem;
  }
}
@media (min-width: 992px) {
  .security_right {
    justify-content: flex-end;
    padding-right: 1rem;
  }
  .container {
    max-width: 960px;
  }
  :root {
    --text-multiplier: 1.4;
  }
  .hero {
    .hero__right {
      img {
        max-height: 500px;
      }
    }
  }
  .footer__wrapper {
    gap: 3rem;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  :root {
    --text-multiplier: 1.6;
  }
}
