// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .mobile__screen {
    display: none;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  header {
    menu,
    .button__group {
      display: none;
    }
    .hamburger {
      display: block;
    }
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  :root {
    --text-multiplier: 1.5;
  }
  h1 {
    line-height: 50px;
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  .hero {
    flex-direction: column-reverse;
    .hero__right {
      justify-content: center;
      img {
        height: auto;
        width: 100%;
      }
      margin-bottom: 2rem;
    }
  }
  .medium__screen {
    display: none;
  }
  .security__wrapper {
    flex-direction: column;
  }
  .editor__wrapper {
    flex-direction: column-reverse;
  }
  .footer__wrapper {
    gap: 1rem;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  :root {
    --text-multiplier: 1.4;
  }
  .hero {
    .hero__right {
      img {
        max-height: 500px;
      }
    }
  }
  .footer__wrapper {
    gap: 3rem;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  :root {
    --text-multiplier: 1.6;
  }
}
